[Unit]
Description=Shipping Service

[Service]
User=roboshop
ExecStart=/bin/java -jar /home/roboshop/shipping/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target
